<body>
<div class="wrapper"> 
    <mat-card *ngIf="assignmentTransmis">
        
        <mat-card-title style="text-align: center;">{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle style="text-align: center ;" *ngIf="assignmentTransmis.rendu">Rendu le {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        <mat-card-subtitle style="text-align: center ;" *ngIf="!assignmentTransmis.rendu">A rendre pour le {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        <mat-card-content>

            <p style="font-weight: bold;" class="input-box">Matière : {{assignmentTransmis.matiere.nom}}</p>

            <!-- on affiche une balise en fonction du rendu du devoir -->
            <p *ngIf="assignmentTransmis.rendu" style="font-weight: bold;" class="input-box">Rendu par : {{assignmentTransmis.auteur}}</p>
            <p *ngIf="!assignmentTransmis.rendu" style="font-weight: bold;" class="input-box">A rendre par : {{assignmentTransmis.auteur}}</p>

            <p *ngIf="assignmentTransmis.note != 99" style="font-weight: bold;" class="input-box">Note : {{assignmentTransmis.note}}/20</p>
            <p style="font-weight: bold;" class="input-box">Commentaire sur le devoir : {{assignmentTransmis.remarques}}</p>
            <div class="matiere-container">
                <p style="font-weight: bold;">Matière</p>
                <img  mat-card-image src="assets/matieres/{{assignmentTransmis.matiere.imageMatiere}}" alt="Photo de la matière" class="custom-img"/>
            </div>
            <div class="prof-container">
                <p style="font-weight: bold;">Professeur</p>
                <img mat-card-image src="assets/profs/{{assignmentTransmis.matiere.prof}}.png" alt="Photo du professeur de cette matière" class="custom-img"/>
            </div>
        </mat-card-content>
        <mat-card-actions id="bottom">
            <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
            <button class="btn" (click)="onClickEdit()" [disabled]="!isAdmin()">Editer</button>
            <button class="btn" (click)="onAssignmentDelete()" [disabled]="!isAdmin()">Supprimer devoir</button>
        </mat-card-actions>
    </mat-card>
</div>
</body>