.rendu {
    color:green;
}

.nonRendu {
    color:red;
}

.mat-divider {
    border-top-color: blue;
}

.container {
    display:flex;
    flex-direction:column;
}

.ajouterBtn {
    align-self: flex-end;
}