* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url('/assets/css/livre-fond-carton-vert.jpg');
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8); /* Fond légèrement transparent */
  border-radius: 12px;
  color: #333;
}
.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Ajoutez une marge en bas pour séparer du reste du contenu */
}


.searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
}

.btn {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background: #135c20;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #303f9f;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto; /* Pour les petites résolutions */
  margin-top: 20px;
}
.example-spacer1 {
  flex: 0.8;
}

.mat-header-cell {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background-color: #e0e0e0; /* Couleur de fond pour les en-têtes */
}

.mat-cell, .mat-header-cell {
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Lignes de séparation subtiles */
  border-right: 1px solid #e0e0e0; /* Gris clair pour la bordure */
}

/* les cellules fassent exactement la meme taille et les éléments  centrés dans les cellules */
.mat-cell, .mat-header-cell {
  text-align: center;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mat-row {
  transition: background-color 0.3s ease;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

/* Styles spécifiques pour l'état rendu et non rendu */
span.rendu {
  background-color: #4caf50;
  padding: 2px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

span.non-rendu {
  background-color: #f44336;
  padding: 2px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

/* Ajout de styles pour la pagination et l'information */
.pagination-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

/* Style pour le bouton Ajouter Assignment */
.add-assignment-btn {
  padding: 0.5rem 1rem;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.add-assignment-btn:hover {
  background: #388e3c;
}

mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Vous pouvez ajuster la marge en fonction de votre mise en page */
}
