<body>
<main class="wrapper">
    <div>
        <button class="btn" mat-raised-button (click)="onPreviousPage()">Précédent</button>
        <span class="example-spacer1"></span>
        <button class="btn" mat-raised-button (click)="onNextPage()">Suivant</button>
        <span class="example-spacer1"></span>
        <p>Nombre d'éléments : {{totalDocs}}</p>
        <p>Page {{page}} sur {{totalPages}}</p>
        <button class="btn" mat-raised-button (click)="peuplerBD()">Peupler les assignments</button>

    </div>
    <span class="example-spacer1"></span>
    <div >
        <a routerLink="/add">
            <button 
                    mat-flat-button color="white"
            >
                Ajouter Assignment
            </button>
        </a>
    </div>

    <mat-list *ngFor="let assignment of assignments">
        <nav><a routerLink="/assignment/{{assignment.id}}">
            <h3 mat-subheader>{{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}</h3>
            <mat-list-item (click)="assignmentClique(assignment)">
                <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                    Le devoir intitulé {{assignment.nom}} <br>A ETE RENDU le {{assignment.dateDeRendu}} <br>par {{assignment.auteur}}.
                </p>
                <ng-template #nonsoumis>
                    Le devoir {{assignment.nom}}, <br>à rendre le {{assignment.dateDeRendu}} <br> par {{assignment.auteur}} N'A PAS ETE RENDU.
                </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
        </a></nav>
    </mat-list>
</main>
</body>
