<body>
<main class="wrapper">
    <div>
        <button class="btn" mat-raised-button (click)="onPreviousPage()">Précédent</button>
        <span class="example-spacer1"></span>
        <button class="btn" mat-raised-button (click)="onNextPage()">Suivant</button>
        <span class="example-spacer1"></span>
        <p>Nombre d'éléments : {{totalDocs}}</p>
        <p>Page {{page}} sur {{totalPages}}</p>
        <button class="btn" mat-raised-button (click)="peuplerBD()">Peupler les assignments</button>

    </div>
    <span class="example-spacer1"></span>
    <div >
        <a routerLink="/add">
            <button 
                    mat-flat-button color="white"
            >
                Ajouter Assignment
            </button>
        </a>
    </div>

    <table mat-table [dataSource]="assignments" class="mat-elevation-z8">
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDeRendu">
            <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="auteur">
            <th mat-header-cell *matHeaderCellDef> Auteur </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.auteur}} </td>
        </ng-container>

        <ng-container matColumnDef="etat">
            <mat-header-cell *matHeaderCellDef> État </mat-header-cell>
            <mat-cell *matCellDef="let assignment">
                <span *ngIf="assignment.rendu; else nonsoumis" class="rendu"> Rendu </span>
                <ng-template #nonsoumis><span class="non-rendu"> Non Rendu </span></ng-template>
            </mat-cell>            
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let assignment; columns: displayedColumns;" 
                (click)="assignmentClique(assignment)" 
                class="mat-row">   
        </mat-row>

    </table>

</main>
</body>
