<body>
<main class="wrapper">
    <span class="example-spacer1"></span>

    
    <!--mets un mat-paginator qui remplace les boutons precédent et suivant-->
    <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
    </mat-paginator>
    <!-- Champ de recherche pour les assignments -->



    <!--filtre pour les devoirs rendus et non rendus-->
    <div class="search-filter-container">
      <!-- Champ de recherche pour les assignments -->
      <input matInput (keyup)="onSearchChange($event)" placeholder="Rechercher par nom" class="input-box">

      <!-- Filtre pour les devoirs rendus et non rendus -->
      <mat-form-field>
          <mat-label>Devoirs rendus ou non rendus</mat-label>
          <mat-select (selectionChange)="onRenduChange($event)">
              <mat-option value="tous">Tous</mat-option>
              <mat-option value="rendu">Rendus</mat-option>
              <mat-option value="non rendu">Non rendus</mat-option>
          </mat-select>
      </mat-form-field>
  </div>


    <span class="example-spacer1"></span>
    <div >
        <a routerLink="/add">
            <button class="btn" > Ajouter Assignment </button>
        </a>
        <button class="btn" mat-raised-button (click)="peuplerBD()"  style="float:right ">Peupler les assignments</button>

    </div>

    <table  mat-table [dataSource]="filteredAssignments" class="mat-elevation-z8">
        <ng-container matColumnDef="nom" >
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDeRendu">
            <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="auteur">
            <th mat-header-cell *matHeaderCellDef> Auteur </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.auteur}} </td>
        </ng-container>

        <ng-container matColumnDef="etat">
            <mat-header-cell *matHeaderCellDef> État </mat-header-cell>
            <mat-cell *matCellDef="let assignment">
                <span *ngIf="assignment.rendu; else nonsoumis" class="rendu"> Rendu </span>
                <ng-template #nonsoumis><span class="non-rendu"> Non Rendu </span></ng-template>
            </mat-cell>            
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let assignment; columns: displayedColumns;" 
                (click)="assignmentClique(assignment)" 
                class="mat-row">   
        </mat-row>

    </table>
    <p>Page {{page}} sur {{totalPages}}</p>
</main>
</body>
