.mat-toolbar {
  background: rgba(206, 209, 206, 0.126); 
  backdrop-filter: transparent ; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 


  height: 60px;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-size: 1.5em;
  margin-left: 10px;
}

.example-spacer {
  flex: 0.9;
}

#ico_login,
#ico_logout {
  margin-right: 10px;
}

#ico_logout {
  display: none;
}

