.mat-toolbar {
  backdrop-filter: transparent ;
  backdrop-filter:blur(10px)  ; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 


  height: 60px;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-size: 1.5em;
  margin-left: 10px;
}

.example-spacer {
  flex: 0.65;
}
.example-spacer1 {
  flex: 0.2;
}
#ico_login,
#ico_logout {
  margin-right: 10px;
}

#ico_logout {
  display: none;
}


.sidenav {

  background: transparent;
  border: 2px solid rgba(248, 248, 248, 0.921);
  backdrop-filter: blur(9px);
  color: #fafafa;
}




