<body>
<form ngForm #assignmentForm class="wrapper">
    <div class="input-box">
        <input  matInput [(ngModel)]="nomDevoir"  name="nom" placeholder="Nom du devoir">
    </div>

    <div class="input-box">
        <input matInput
            [matDatepicker]="picker" placeholder="Date de rendu"
            [(ngModel)]="dateDeRendu" name="date" required >
        
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="input-box">
        <mat-label style="color: #000;">Matière</mat-label>
        <mat-select [(ngModel)]="matiereSelectionnee" name="matiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.nom">
                {{matiere.nom}}
            </mat-option>
        </mat-select>
    </div>

    <div class="input-box">
        <mat-label style="color: #000;">Professeur</mat-label>
        <mat-select [(ngModel)]="profSelectionne" name="prof" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.prof">
                {{matiere.prof}}
            </mat-option>
        </mat-select>
    </div>

    <div class="input-box">
        <input matInput [(ngModel)]="nomEleve" name="élève" placeholder="Auteur du devoir">  
    </div>

    <a routerLink="/home">
        <button class="btn" 
            (click)="onSubmit(); assignmentForm.reset()"
            >
            Ajouter un devoir
        </button>
    </a>
  
</form>
</body>
