<body>
<div class="wrapper" *ngIf="assignment">
    <h1 class ="h1">Edition de l'assignment {{assignment.nom}}</h1>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
      <div>
        <mat-form-field>
          <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- champ de saisie de note si l'utilisateur est admin et si le travail a été rendu -->
      <div>
        <mat-form-field *ngIf="assignment.rendu">
          <input matInput placeholder="Note du devoir" [(ngModel)]="noteAssignment" name="assignment-note">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="assignment.rendu">
          <textarea matInput placeholder="Commentaire du devoir" [(ngModel)]="remarquesAssignment" name="assignment-commentaire"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="green" [disabled]="((!nomAssignment)||(!dateDeRendu))">
        Enregistrer
      </button>
    </form>
</div>
</body>